<% include header.ejs%>
<style>
    #content{
        padding:0 30px;
        overflow: auto;
    }
    img{
        width:100%;
    }
</style>
<div id="content">
    <h4><%- blog.title %></h4>
    <div><%- blog.content %></div>
</div>
<script>
   let content = document.getElementById('content');
   let parantHeight = document.body.getClientRects()[0].height;
   content.style.height = parantHeight +'px';
</script>

<% include footer.ejs%>