<% include construction-header.ejs %>
<style>
    #content{
        padding:0 30px;
    }
    img{
        width:100%;
    }
</style>
<div class="content-wrap" style="overflow: auto" id="content">
    <% include header.ejs %>
    <% lists.forEach((list)=>{ %>
    <h4 class="titile"><a href="/blog/<%= list._id %>"><%= list.title %></a></h4>
    <p><span class="author"><%= list.author %></span></p>
    <% }) %>
</div>
<script>
    let content = document.getElementById('content');
    let parantHeight = document.body.getClientRects()[0].height;
    content.style.height = parantHeight +'px';
</script>
<% include construction-footer.ejs %>