<!DOCTYPE html>
<html>
<head>
    <title>arena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel='stylesheet' href='/stylesheets/initial.css'/>
    <link rel="hortcut icon"  href="/images/favicon.ico">

    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <script src="/javascripts/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>