<style>
    .content-wrap .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #f3f6f9;
    }

    .content-wrap .header .header-wrapper {
        margin: 0 200px;
    }

    .content-wrap .header .header-wrapper .menu {
        float: right;
    }

    .content-wrap .header .header-wrapper::after {
        content: '';
        display: table;
        clear: both;
    }

    .content-wrap .header .header-wrapper .menu .menu-item {
        float: left;
        margin-right: 25px;
    }

    .content-wrap .header .header-wrapper .menu .menu-item .text {
        vertical-align: top;
        line-height: 40px;
        height: 40px;
        color: #666;
        font-size: 16px;
        text-decoration: none;
    }

    .content-wrap .header .header-wrapper .menu .menu-item .text:hover {
        color: #ff4081
    }
</style>
<div class="header">
    <div class="header-wrapper">
        <ul class="menu">
            <li class="menu-item"><a href="/blog" class="text">博文</a></li>
            <li class="menu-item"><a href="" class="text">实验室</a></li>
            <li class="menu-item"><a href="" class="text">猜想</a></li>
        </ul>
    </div>
</div>