<% include construction-header.ejs %>
<link rel="stylesheet" href="stylesheets/index.css">
<style>
    .content-wrap {
        margin-top: 40px;
        overflow: auto;
    }



    .content-wrap .main .sheets {
        height: 100%;
    }

    .content-wrap .main .sheets.s1 {
        background-image: url(<%= backImage %>);
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>
<div class="content-wrap" id="body">
    <% include header.ejs %>
    <div class="main">
        <div class="sheets s1">
            <p>我是谁：前端从业者；</p>
            <p>前端技术努力探索者;</p>
            <p>一个审美不咋地的frondender;</p>
            <p>赖癌重症患者，不知道怎么设计博客者</p>
        </div>
        <div class="sheets s1">
            <p>我是谁：前端从业者；</p>
            <p>前端技术努力探索者;</p>
            <p>一个审美不咋地的frondender;</p>
            <p>赖癌重症患者，不知道怎么设计博客者</p>
        </div>
    </div>
</div>
<script>
   let $body = document.getElementById('body'), body = document.body;
   let width = body.clientWidth, height = body.clientHeight-40;
   $body.style.width = width + 'px';
   $body.style.height = height + 'px';

   Array.prototype.forEach.call(document.getElementsByClassName('sheets'), function (el) {
      el.style.height = height-20 +'px'
   })
</script>
<% include construction-footer.ejs %>

